<%- include('head') %>
    <%- include('nav') %>
        <h1>The Home Page <%= 'hello' .toUpperCase() %>
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quibusdam ex impedit tempora voluptas
            dolore, nam
            sit quaerat ab provident beatae minus repudiandae autem pariatur earum, expedita doloribus omnis Lorem
            ipsum
            dolor sit amet consectetur adipisicing elit. Iure praesentium eveniet molestiae quod ea harum incidunt
            odio
            dolores dicta excepturi officia omnis voluptate, adipisci hic quisquam rem odit nobis neque.</p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo consectetur quasi reprehenderit fugit
            excepturi
            totam rerum, sunt sed possimus atque aperiam libero quisquam dolorem recusandae eum unde ex laboriosam
            at.</p>

        <%- include('footer') %>