body {

    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #151b29;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1rem 2rem;
    font-size: 1rem;
    transition: color 0.25s, border-color 0.25s, transform 0.25s, box-shadow 0.25s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    /* box-shadow: 0.5em 0.5em 5em -0.5px #f1ff5c; */
    box-shadow: 0em 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;

}