h1 {
    background-color: palegoldenrod;
    border: 1px solid black;
   width :300px;
   height:200px;
   padding:50px;
   margin:100px;
   dis

}

span{
    background-color: paleturquoise;
    border: 1px solid black;
    width: 500px;
    padding:50px;
    margin:0px
}

div{
    background-color:olive ;
    height:200px;
    width:200px;
    border:5px solid black;
    display:inline-block;
    margin:50px;


}